.contact-card{
    width: 100%;

    padding-block: 1rem;
    padding-inline: 1rem;
    
    margin-block: 1rem;
    
    background-color: aliceblue;
    color: black;

    border-radius: 6px 0 6px 0;
}

.last-message {
    font-size: 0.6rem;
}