@use '../../assets/styles/root.scss' as r;

.form-raw{
    display: flex;
    flex-direction: column;
    margin-block: 0.5rem;


    input{
        margin-block: 0.2rem;
        max-width: 400px;
        padding: 0.3rem;
        border-radius: 8px;
    }
    input:invalid{
        outline: 1px solid r.$error
    }
    .invalid {
        border: 2px solid r.$error
    }

}
