@use "root" as r;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: r.$background;
  color: r.$text-color;
  font-family: r.$font-body;
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: 10vh;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.container {
  max-width: 990px;
  margin: auto;
}
.container-xl {
  max-width: 1200px;
  margin: auto;
}
.container-sm {
  max-width: 550px;
  margin: auto;
}
.error {
  color: r.$error;
  margin-top: -0.5rem;
  font-size: 0.8rem;
}

.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 80px;
}

.icon-text{
    font-size: 0.8rem;
}
