@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #2855c0;
$secondary: grey;
$tertiary: #333;
$error: #FF0000;
$primary-container: #333;
$secondary-container: #333;

$background: #333;
$text-color: #F1F1F1;

$font-body: 'Poppins', sans-serif;
$font-title: 'Inter Tight', sans-serif;

$padding-border: 0.5rem;


/*##########----MIXINES----############*/

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }